<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.manage">

    <!-- 访问网络，进行地图相关业务数据请求，包括地图数据，路线规划，POI检索等 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络状态，根据网络状态切换进行数据请求网络转换 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 读取外置存储。如果开发者使用了so动态加载功能并且把so文件放在了外置存储区域，则需要申请该权限，否则不需要 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写外置存储。如果开发者使用了离线地图，并且数据写在外置存储区域，则需要申请该权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ZeN6of2bnLWnXOr9LZB9Y63PE4OWov5M" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />


        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>

        <!-- 网络-->
        <activity
            android:name=".activity.NetActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--登陆-->
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--监控列表-->
        <activity
            android:name=".activity.MonitorListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--交互大屏-->
        <activity
            android:name=".activity.BigScreenActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--灯光交互-->
        <activity
            android:name=".activity.LightingActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--森雾设置-->
        <activity
            android:name=".activity.SenFogActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--设备列表 -->
        <activity
            android:name=".activity.EquipmentListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--设置-->
        <activity
            android:name=".activity.SettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--搜索-->
        <activity
            android:name=".activity.SearchActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--监控播放-->
        <activity
            android:name=".activity.MonitorActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--回放列表-->
        <activity
            android:name=".activity.RebackVidioListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--ezopen视频播放列表-->
        <activity
            android:name=".activity.EzOpenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"/>
        <!--回放-->
        <activity
            android:name=".activity.ReBackVidioActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <uses-library android:name="org.apache.http.legacy"
            android:required="false"/>
    </application>

</manifest>